
h1 { 
    color: black;
    background-color: darkgrey;
    text-align: center;
    margin-left: 2em ;
    margin-right:2em ;
}

.grid-container{    
    
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
}

#create_new_container_div{     
flex:1;   
padding:10px;
align-items:right;
color: rgb(0, 0, 0);

}

body {text-align:center;}